Trabalho 2 - Node-red, Mqtt, Mysql.json
[
    {
        "id": "b65282f57e7dd0c9",
        "type": "tab",
        "label": "Automação Residencial com Controle por Voz",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4bcafc2f73fb5b8b",
        "type": "mqtt in",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "esp32/sala",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "7eb5b016f2efdfa6",
                "e3860d29d0984eda",
                "0a059759bff06ead",
                "23c7341fceb5e40e",
                "04dd3408d78d4c80",
                "5b397ab189002ef8",
                "f18fd17483958de9",
                "754911a5af5362b6"
            ]
        ]
    },
    {
        "id": "05780cf0193cab72",
        "type": "mqtt in",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "esp32/quarto",
        "qos": "1",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 920,
        "wires": [
            [
                "ec34c16cddf5fa3b",
                "91bd68cee9cdfc7e",
                "7b567fa37e65c065",
                "a892486816c1e1a6",
                "4efed4ce7849d9d2",
                "a4e9fc363ccb3653",
                "4f00ca8ecd54cb28",
                "3ba001099cd982a0"
            ]
        ]
    },
    {
        "id": "91bd68cee9cdfc7e",
        "type": "ui_gauge",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "group": "3c1b09fa4c168fdf",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "QUARTO",
        "label": "decibéis",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#d3d3d3",
            "#ffff00",
            "#800080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 860,
        "wires": []
    },
    {
        "id": "ec34c16cddf5fa3b",
        "type": "ui_chart",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "group": "3c1b09fa4c168fdf",
        "order": 3,
        "width": 8,
        "height": 6,
        "label": "Quarto",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ce2315678d815935",
        "type": "mqtt in",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "esp32/cozinha",
        "qos": "1",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "c1de92f41d208001",
                "c2ff7162a0bf92c1",
                "870a5b3540890b4a",
                "9d8c4f2dcde59dec",
                "ce0ec96f0dfe9f23",
                "bda293827be2a771",
                "0be1dcc98fddbabf",
                "6b72d7885875a5eb"
            ]
        ]
    },
    {
        "id": "7eb5b016f2efdfa6",
        "type": "ui_gauge",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "group": "2a2fc49d2be0f57d",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "SALA",
        "label": "decibéis",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#add8e6",
            "#ffa500",
            "#8b0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "e3860d29d0984eda",
        "type": "debug",
        "z": "b65282f57e7dd0c9",
        "name": "SALA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "0a059759bff06ead",
        "type": "ui_chart",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "group": "2a2fc49d2be0f57d",
        "order": 3,
        "width": 8,
        "height": 6,
        "label": "Sala",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c2ff7162a0bf92c1",
        "type": "ui_gauge",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "group": "4bb4cd0cfb84ef6a",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "COZINHA",
        "label": "decibéis",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "c1de92f41d208001",
        "type": "ui_chart",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "group": "4bb4cd0cfb84ef6a",
        "order": 3,
        "width": 8,
        "height": 6,
        "label": "Cozinha",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "870a5b3540890b4a",
        "type": "debug",
        "z": "b65282f57e7dd0c9",
        "name": "COZINHA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 740,
        "wires": []
    },
    {
        "id": "7b567fa37e65c065",
        "type": "debug",
        "z": "b65282f57e7dd0c9",
        "name": "QUARTO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7f43bf16be55ad05",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 2,
        "group": "2a2fc49d2be0f57d",
        "width": 8,
        "height": 5,
        "label": "SALA ",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dbdb1a",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "23c7341fceb5e40e",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On LED",
        "func": "if (msg.payload > 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "7f43bf16be55ad05",
                "cfa0172ddc7e39e9",
                "b2c20c560da877f4"
            ]
        ]
    },
    {
        "id": "cc307cce1478f2c4",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 2,
        "group": "4bb4cd0cfb84ef6a",
        "width": 8,
        "height": 5,
        "label": "Cozinha",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dbdb1a",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "9d8c4f2dcde59dec",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On LED",
        "func": "if (msg.payload > 100) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "cc307cce1478f2c4",
                "048de7e16f08cc4c",
                "167cc99f7667d34e"
            ]
        ]
    },
    {
        "id": "f5714a56eb677ace",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 2,
        "group": "3c1b09fa4c168fdf",
        "width": 8,
        "height": 5,
        "label": "Quarto",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dbdb1a",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "a892486816c1e1a6",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On LED",
        "func": "if (msg.payload > 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 900,
        "wires": [
            [
                "f5714a56eb677ace",
                "61095719f2edaa87",
                "f1d112ce29956fbc"
            ]
        ]
    },
    {
        "id": "88a0cee97435a580",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 3,
        "group": "be5f64eaa01d0fe0",
        "width": 10,
        "height": 3,
        "label": "TV",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#050000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#21e907",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "04dd3408d78d4c80",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On TV",
        "func": "if (msg.payload > 75) {\n    // Ligar a TV\n    msg.payload = true;\n} else if (msg.payload <= 25) {\n    // Desligar a TV\n    msg.payload = false;\n} else {\n    // Manter a TV desligada\n    msg.payload = context.get('tvStatus') || false;\n}\n\ncontext.set('tvStatus', msg.payload); // Armazena o estado atual da TV\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "88a0cee97435a580"
            ]
        ]
    },
    {
        "id": "3e5340a6e47f12be",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 2,
        "group": "be5f64eaa01d0fe0",
        "width": 10,
        "height": 4,
        "label": "SALA ",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dbdb1a",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b397ab189002ef8",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On LED",
        "func": "if (msg.payload > 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "3e5340a6e47f12be"
            ]
        ]
    },
    {
        "id": "f18fd17483958de9",
        "type": "ui_text",
        "z": "b65282f57e7dd0c9",
        "group": "be5f64eaa01d0fe0",
        "order": 1,
        "width": 10,
        "height": 3,
        "name": "",
        "label": "Nivel de som ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f97b510e9630c9b",
        "type": "comment",
        "z": "b65282f57e7dd0c9",
        "name": "Principal",
        "info": "",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "8cf2cf96523ef547",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 4,
        "group": "be5f64eaa01d0fe0",
        "width": 10,
        "height": 3,
        "label": "Ar Condicionado ",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#050000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#1aa7ff",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "754911a5af5362b6",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On Ar",
        "func": "if (msg.payload > 85) {\n    // Ligar a AR\n    msg.payload = true;\n} else if (msg.payload <= 15) {\n    // Desligar o AR\n    msg.payload = false;\n} else {\n    // Manter o AR desligado\n    msg.payload = context.get('arStatus') || false;\n}\n\ncontext.set('arStatus', msg.payload); // Armazena o estado atual do Ar\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "8cf2cf96523ef547"
            ]
        ]
    },
    {
        "id": "24b64f4e883cf650",
        "type": "comment",
        "z": "b65282f57e7dd0c9",
        "name": "Principal",
        "info": "",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "5bbd2f390036bf74",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 2,
        "group": "8bef9a1a2593bcf4",
        "width": 6,
        "height": 4,
        "label": "Cozinha",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dbdb1a",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "ce0ec96f0dfe9f23",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On LED",
        "func": "if (msg.payload > 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 620,
        "wires": [
            [
                "5bbd2f390036bf74"
            ]
        ]
    },
    {
        "id": "bda293827be2a771",
        "type": "ui_text",
        "z": "b65282f57e7dd0c9",
        "group": "8bef9a1a2593bcf4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nivel de som ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "68e765c5c50a7d8d",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 3,
        "group": "8bef9a1a2593bcf4",
        "width": 6,
        "height": 4,
        "label": "Cafeteira",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#e72113",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "0be1dcc98fddbabf",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On Cafeteira",
        "func": "var cafeStatus = context.get('cafeStatus') || false;\nvar cafeLigado = context.get('cafeLigado') || false;\nvar timestamp = context.get('timestamp') || 0;\n\nvar tempoAtual = Date.now();\nvar tempoPassado = tempoAtual - timestamp;\n\nif (!cafeLigado && msg.payload >= 65 && msg.payload <= 70) {\n    // Ligar a cafeteira\n    cafeStatus = true;\n    cafeLigado = true;\n    context.set('cafeStatus', cafeStatus);\n    context.set('cafeLigado', cafeLigado);\n    context.set('timestamp', tempoAtual);\n} else if (cafeLigado && tempoPassado >= 10000) {\n    // Desligar a cafeteira após 10 segundos\n    cafeStatus = false;\n    context.set('cafeStatus', cafeStatus);\n    context.set('timestamp', tempoAtual);\n    setTimeout(function () {\n        // Permitir nova ligação da cafeteira após 15 segundos\n        cafeLigado = false;\n        context.set('cafeLigado', cafeLigado);\n    }, 15000);\n}\n\nmsg.payload = cafeStatus;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 660,
        "wires": [
            [
                "68e765c5c50a7d8d"
            ]
        ]
    },
    {
        "id": "2574a542cd2131a0",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 4,
        "group": "8bef9a1a2593bcf4",
        "width": 6,
        "height": 4,
        "label": "Exaustor",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#83b7d8",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "6b72d7885875a5eb",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On Exaustor",
        "func": "if (msg.payload > 150) {\n    // Ligar a exaustor\n    msg.payload = true;\n} else if (msg.payload <= 100) {\n    // Desligar o exaustor\n    msg.payload = false;\n} else {\n    // Manter o exaustor desligado\n    msg.payload = context.get('exaustorStatus') || false;\n}\n\ncontext.set('exaustorStatus', msg.payload); // Armazena o estado atual do Ar\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "2574a542cd2131a0"
            ]
        ]
    },
    {
        "id": "71ff9bb401764880",
        "type": "comment",
        "z": "b65282f57e7dd0c9",
        "name": "Principal",
        "info": "",
        "x": 360,
        "y": 940,
        "wires": []
    },
    {
        "id": "07ed5d9e7b43bd73",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 2,
        "group": "303426f3e0aa6342",
        "width": 6,
        "height": 4,
        "label": "Quarto",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#dbdb1a",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4efed4ce7849d9d2",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On LED",
        "func": "if (msg.payload > 50) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1020,
        "wires": [
            [
                "07ed5d9e7b43bd73"
            ]
        ]
    },
    {
        "id": "a4e9fc363ccb3653",
        "type": "ui_text",
        "z": "b65282f57e7dd0c9",
        "group": "303426f3e0aa6342",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nivel de som ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 350,
        "y": 980,
        "wires": []
    },
    {
        "id": "4d29cb5af611f401",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 3,
        "group": "303426f3e0aa6342",
        "width": 6,
        "height": 4,
        "label": "TV",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#050000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#1fb731",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4f00ca8ecd54cb28",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On TV",
        "func": "if (msg.payload > 75) {\n    // Ligar a TV\n    msg.payload = true;\n} else if (msg.payload <= 25) {\n    // Desligar a TV\n    msg.payload = false;\n} else {\n    // Manter a TV desligada\n    msg.payload = context.get('tvStatus') || false;\n}\n\ncontext.set('tvStatus', msg.payload); // Armazena o estado atual da TV\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "4d29cb5af611f401"
            ]
        ]
    },
    {
        "id": "8b704691c3417f7e",
        "type": "ui_led",
        "z": "b65282f57e7dd0c9",
        "order": 4,
        "group": "303426f3e0aa6342",
        "width": 6,
        "height": 4,
        "label": "Ar Condicionado ",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#050000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#1aa7ff",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3ba001099cd982a0",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Turn On Ar",
        "func": "if (msg.payload > 85) {\n    // Ligar a AR\n    msg.payload = true;\n} else if (msg.payload <= 15) {\n    // Desligar o AR\n    msg.payload = false;\n} else {\n    // Manter o AR desligado\n    msg.payload = context.get('arStatus') || false;\n}\n\ncontext.set('arStatus', msg.payload); // Armazena o estado atual do Ar\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "8b704691c3417f7e"
            ]
        ]
    },
    {
        "id": "b328f58a63a29c54",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Sala",
        "func": "var sala = msg.payload;\n\nmsg.sala = sala;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 40,
        "wires": [
            [
                "403739dbd3ef2852"
            ]
        ]
    },
    {
        "id": "6fe8983bd82680cf",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Cozinha",
        "func": "var cozinha = msg.payload;\n\nmsg.cozinha = cozinha;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 100,
        "wires": [
            [
                "403739dbd3ef2852"
            ]
        ]
    },
    {
        "id": "63524365ae9db481",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Quarto",
        "func": "var quarto = msg.payload;\n\nmsg.quarto = quarto;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 160,
        "wires": [
            [
                "403739dbd3ef2852"
            ]
        ]
    },
    {
        "id": "403739dbd3ef2852",
        "type": "join",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1470,
        "y": 100,
        "wires": [
            [
                "72d4cae38ada8cc4"
            ]
        ]
    },
    {
        "id": "72d4cae38ada8cc4",
        "type": "delay",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1630,
        "y": 100,
        "wires": [
            [
                "b9fe0fae6c8bd8e0"
            ]
        ]
    },
    {
        "id": "b9fe0fae6c8bd8e0",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "INSERT",
        "func": "var sala = msg.payload['esp32/sala'] || 0;\nvar cozinha = msg.payload['esp32/cozinha'] || 0;\nvar quarto = msg.payload['esp32/quarto'] || 0;\n\nmsg.topic = \"INSERT INTO tempLog (sala, cozinha, quarto, timeStamp) VALUES (\" + sala + \", \" + cozinha + \", \" + quarto + \",  CURRENT_TIMESTAMP );\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 100,
        "wires": [
            [
                "56d6803698b2d877"
            ]
        ]
    },
    {
        "id": "f85488680f46b84a",
        "type": "mqtt in",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "esp32/sala",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1100,
        "y": 40,
        "wires": [
            [
                "b328f58a63a29c54"
            ]
        ]
    },
    {
        "id": "e962cf3ea2be85ba",
        "type": "mqtt in",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "esp32/quarto",
        "qos": "1",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1110,
        "y": 160,
        "wires": [
            [
                "63524365ae9db481"
            ]
        ]
    },
    {
        "id": "ba46042e8406c1af",
        "type": "mqtt in",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "esp32/cozinha",
        "qos": "1",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "6fe8983bd82680cf"
            ]
        ]
    },
    {
        "id": "56d6803698b2d877",
        "type": "mysql",
        "z": "b65282f57e7dd0c9",
        "mydb": "25c4aae5e17e5930",
        "name": "conexao_mysql",
        "x": 2000,
        "y": 100,
        "wires": [
            [
                "81830459421498d8"
            ]
        ]
    },
    {
        "id": "81830459421498d8",
        "type": "debug",
        "z": "b65282f57e7dd0c9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2160,
        "y": 100,
        "wires": []
    },
    {
        "id": "0b7362bd5af7510c",
        "type": "mysql",
        "z": "b65282f57e7dd0c9",
        "mydb": "25c4aae5e17e5930",
        "name": "conexao_mysql",
        "x": 1460,
        "y": 380,
        "wires": [
            [
                "dc401fc9f813f3bb"
            ]
        ]
    },
    {
        "id": "30377c3468f5527e",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "DELET",
        "func": "\nmsg.topic = \"Delete  FROM tempLog ;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 380,
        "wires": [
            [
                "0b7362bd5af7510c"
            ]
        ]
    },
    {
        "id": "dc401fc9f813f3bb",
        "type": "debug",
        "z": "b65282f57e7dd0c9",
        "name": "dados mysql",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 380,
        "wires": []
    },
    {
        "id": "683ff7f2e1650597",
        "type": "inject",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "30377c3468f5527e"
            ]
        ]
    },
    {
        "id": "f843c4210d28ee6b",
        "type": "comment",
        "z": "b65282f57e7dd0c9",
        "name": "Mysql: Select últimos 10 dados para grafico e tabela",
        "info": "",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "b09157f0f3423228",
        "type": "inject",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "08ea6ef563dcfd3e"
            ]
        ]
    },
    {
        "id": "08ea6ef563dcfd3e",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT sala as sala, cozinha as cozinha, quarto as quarto, timeStamp as timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 240,
        "wires": [
            [
                "616a2666d388a764"
            ]
        ]
    },
    {
        "id": "616a2666d388a764",
        "type": "mysql",
        "z": "b65282f57e7dd0c9",
        "mydb": "25c4aae5e17e5930",
        "name": "conexao_mysql",
        "x": 1480,
        "y": 240,
        "wires": [
            [
                "bd6c7b72e0f15662"
            ]
        ]
    },
    {
        "id": "bd6c7b72e0f15662",
        "type": "change",
        "z": "b65282f57e7dd0c9",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $series := [\t    { \"label\": \"sala\", \"field\": \"sala\" },\t    { \"label\": \"cozinha\", \"field\": \"cozinha\" },\t    { \"label\": \"quarto\", \"field\": \"quarto\" }\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 240,
        "wires": [
            [
                "febecb2cb3f3cd58"
            ]
        ]
    },
    {
        "id": "febecb2cb3f3cd58",
        "type": "ui_chart",
        "z": "b65282f57e7dd0c9",
        "name": "24 hours data",
        "group": "dd885df6ad54c298",
        "order": 1,
        "width": 20,
        "height": 12,
        "label": "Sala Cozinha e Quarto",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00e68c",
            "#2d2da8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "options: {     scales: {         y: {             ticks: {                 fontSize: 28 // Define o tamanho da fonte do eixo y             }         }     } }",
        "x": 1880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2183a4b3fb4917b4",
        "type": "inject",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "8761ed0e012bc262"
            ]
        ]
    },
    {
        "id": "8761ed0e012bc262",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "SELECT",
        "func": "\nmsg.topic = \"SELECT * FROM tempLog ORDER BY timeStamp DESC LIMIT 10;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 320,
        "wires": [
            [
                "1526a891f11d36e9"
            ]
        ]
    },
    {
        "id": "1526a891f11d36e9",
        "type": "mysql",
        "z": "b65282f57e7dd0c9",
        "mydb": "25c4aae5e17e5930",
        "name": "conexao_mysql",
        "x": 1460,
        "y": 320,
        "wires": [
            [
                "cc8764332adf4ae9"
            ]
        ]
    },
    {
        "id": "cc8764332adf4ae9",
        "type": "function",
        "z": "b65282f57e7dd0c9",
        "name": "Formatar Dados",
        "func": "const formattedData = [];\n\nmsg.payload.forEach((row) => {\n    const currentDate = new Date();\n    const hours = currentDate.getHours();\n    const minutes = currentDate.getMinutes();\n    const seconds = currentDate.getSeconds();\n    const formattedRow = {\n        hora: `${hours}:${minutes}:${seconds}`,\n        sala: row.sala,\n        cozinha: row.cozinha,\n        quarto: row.quarto\n    };\n    formattedData.push(formattedRow);\n});\n\nmsg.payload = formattedData;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 320,
        "wires": [
            [
                "b153d3e248bb600c"
            ]
        ]
    },
    {
        "id": "b153d3e248bb600c",
        "type": "ui_template",
        "z": "b65282f57e7dd0c9",
        "group": "dd885df6ad54c298",
        "name": "Tabela com style",
        "order": 2,
        "width": 20,
        "height": 7,
        "format": "<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>sala</span>\n  <span flex>cozinha</span>\n  <span flex>quarto</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.hora}}</span>\n  <span flex style=\"color: red\">{{row.sala}} dB</span>\n  <span flex style=\"color: blue\">{{row.cozinha}} dB</span>\n  <span flex style=\"color: purple\">{{row.quarto}} dB</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1850,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cfa0172ddc7e39e9",
        "type": "mqtt out",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ba8bb5e7935c93b",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "048de7e16f08cc4c",
        "type": "mqtt out",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ba8bb5e7935c93b",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "61095719f2edaa87",
        "type": "mqtt out",
        "z": "b65282f57e7dd0c9",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ba8bb5e7935c93b",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "b2c20c560da877f4",
        "type": "delay",
        "z": "b65282f57e7dd0c9",
        "name": "limit",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f1d112ce29956fbc",
        "type": "delay",
        "z": "b65282f57e7dd0c9",
        "name": "limit",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 490,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "167cc99f7667d34e",
        "type": "delay",
        "z": "b65282f57e7dd0c9",
        "name": "limit",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ec10517a79b5da39",
        "type": "ui_spacer",
        "z": "b65282f57e7dd0c9",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0c186f943573314",
        "type": "ui_spacer",
        "z": "b65282f57e7dd0c9",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "eaaaa9a7582d72ea",
        "type": "ui_spacer",
        "z": "b65282f57e7dd0c9",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "8029ab7a925a9c6b",
        "type": "ui_spacer",
        "z": "b65282f57e7dd0c9",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "ddef82d9a0060b21",
        "type": "ui_spacer",
        "z": "b65282f57e7dd0c9",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4c89707f626a143",
        "type": "ui_spacer",
        "z": "b65282f57e7dd0c9",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "2ba8bb5e7935c93b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "LoranViscardi",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3c1b09fa4c168fdf",
        "type": "ui_group",
        "d": true,
        "name": "grafico_mysql",
        "tab": "d33f11a85806a938",
        "order": 4,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a2fc49d2be0f57d",
        "type": "ui_group",
        "name": "Sala",
        "tab": "3046f6ea24ac700b",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bb4cd0cfb84ef6a",
        "type": "ui_group",
        "name": "Cozinha",
        "tab": "3046f6ea24ac700b",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "be5f64eaa01d0fe0",
        "type": "ui_group",
        "name": "Sala",
        "tab": "b09e58d1c74cdb2b",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bef9a1a2593bcf4",
        "type": "ui_group",
        "name": "Cozinha",
        "tab": "a9969c832d2ba6d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "303426f3e0aa6342",
        "type": "ui_group",
        "name": "Quarto",
        "tab": "3a5d901a9a10f08d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25c4aae5e17e5930",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.31.82.140",
        "port": "3306",
        "db": "leituras_potenciometros",
        "tz": "hh:mm",
        "charset": "UTF8"
    },
    {
        "id": "dd885df6ad54c298",
        "type": "ui_group",
        "name": "Function",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "d33f11a85806a938",
        "type": "ui_tab",
        "d": true,
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "3046f6ea24ac700b",
        "type": "ui_tab",
        "name": "▌Controle de Nível ▬ Tanque de Combustível ▌",
        "icon": "fa-tachometer",
        "order": 1,
        "disabled": false,
        "hidden": false,
        "info": "body {\r\n  background-color: #f1f1f1; /* Substitua pela cor desejada */\r\n}\r\n"
    },
    {
        "id": "b09e58d1c74cdb2b",
        "type": "ui_tab",
        "name": "Sala",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9969c832d2ba6d0",
        "type": "ui_tab",
        "name": "Cozinha",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a5d901a9a10f08d",
        "type": "ui_tab",
        "name": "Quarto",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
